body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-logo{
  font-weight: bold !important;
  text-shadow: 2px 2px #383838 !important;
  font-size: 25px !important;
  font-family: 'Lobster', cursive !important;
}

.navbar-link{
  color: white !important;
  font-weight: bold !important;
  text-shadow: 2px 2px #383838 !important;
  font-family: 'Lakki Reddy', cursive !important;
  text-decoration: none !important;
}

.navbar-toggler{
  border: 0px !important;
}
.text-footer{
  padding-top: 10px !important;
  margin: 0px !important;
  color: white !important;
  font-weight: bold !important;
  font-family: 'Lakki Reddy', cursive !important;
}

.text-header{
  color: white !important;
  text-shadow: 2px 2px #383838 !important;
  font-weight: bold !important;
  font-family: 'Lakki Reddy', cursive !important;
}

.text-btn{
  padding-top: 10px !important;
  color: white !important;
  text-shadow: 2px 2px #383838 !important;
  font-weight: bold !important;
  font-family: 'Lakki Reddy', cursive !important;
}

.login-container{
  height: 100vh !important;
  background-image: url('images/login-bg.jpg') !important;
  background-size: cover !important;
}

.login-container2{
  display:flex !important;
  align-items: center !important;
}

.form-label-color{
  color:white !important;
  text-shadow: 2px 2px #383838 !important;
  font-weight: bold !important;
  font-family: 'Lakki Reddy', cursive !important;
}

.login-moment{
  height: 100vh !important;
  width: 33.3% !important;
  background-image: url('images/login-pic1.jpg') !important;
  background-size: cover !important;
}

.events-container{
  background-color: #ffdd00 !important;
}

.events-sub-container{
  padding: 15px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.events-card{
  background-color: rgba(56,56,56,.8) !important;
  padding: 20px !important;
  width: 60%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color:white !important;
  text-shadow: 2px 2px #383838 !important;
  font-weight: bold !important;
  font-family: 'Lakki Reddy', cursive !important;
  letter-spacing: 2px
}

.events-image{
  height: 300px !important;
  width: 350px !important;
}

.modal-text{
  color:white !important;
  text-shadow: 2px 2px #383838 !important;
  font-weight: bold !important;
  font-family: 'Lakki Reddy', cursive !important;
}

.modal-body{
  background-color: rgba(56,56,56,.3) !important;
}

.bookings-container, .register-container{
  background-color: #ffdd00 !important;
  min-height: 100vh !important;
}